* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient-custom-2 {
    height: 100vh;
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #a1c4fd, #c2e9fb);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #a1c4fd, #c2e9fb)
}

.rl-btn {
    width: 110px;
}