@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', sans-serif;
}

.ad-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
}

.alertify-notifier {
    text-align: center;
}

.admin-panel-div {
    padding-bottom: 250px;
}

.admin-users {
    display: flex;
    width: 400px;
    flex-direction: column;
    background-color: #adb5bd;
    color: #0d6efd;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    overflow-y: auto;
    height: 268px;
}

.admin-users th {
    outline-style: solid;
    outline-width: 1px;
    outline-color: #000000;
    margin: 2px;
    padding-left: 5px;
    line-height: 39px;
    border-radius: 5px;
}

.admin-users button {
    float: right;
}

.rl-btn {
    width: 110px;
}

.ad-form {
    margin: auto;
    width: 60%;
}

.nav-btn {
    width: 70px;
}

.ad-comment-li-p {
    padding-left: 20px;
}

.favorite-btn {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    border: none;
}

.admin-delete-ad-btn {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: red;
}


/* COMMENT DELETE BUTTON ONLY */
/* COMMENT DELETE BUTTON ONLY */
/* COMMENT DELETE BUTTON ONLY */
.admin-delete-comment-btn {
    position: absolute;
    left: 5px;
    top: 8px;
    width: 25px;
    height: 25px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: red;
}

.card-title {
    margin-left: 35px;
}

.your-favs-li {
    font-size: 20px;
}

.edit-btn {
    margin-left: 5px;
}